################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RasterTek/FrustumCulling/.vs/ViewFrustum/v16/Browse.VC.opendb
/RasterTek/Water/.vs/Water/v16/Browse.VC.opendb
/RasterTek/Fire/.vs/Fire/v16/Browse.VC.opendb
/RasterTek/DepthBuffer/.vs/DepthBuffer/v16/Browse.VC.opendb
/RasterTek/Blur/.vs/Blur/v16/Browse.VC.opendb
*.opendb
